/*
	Designed by Laura Ing
	Keyholder
	January 2017
*/


body {
	background-color:#f9f9f9;
}

#header {
	background-image:url("sky.jpeg");
	background-size:cover;
	height:17em;
	padding:2em;
}

#header h1{
	font-size:70px;
	margin:35px 0;
	padding-left:165px;
	text-shadow: 2px 2px white;
}

#blurb {
	position: relative;
	left: 320px;
	width: 64%;
	top: 36px;
	font-size:17px;
}

#filter {
	padding-left: 5em;
	padding-right: 5em;
	background-color: darkblue;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

#domain_wrapper{
	padding:20px;
}

.domain {
	border: solid #400080;
	background-color:white;
	margin:2%;
	padding:1.5em;
}

.domain_name{
	font-weight:700;
	text-align: center;
}
.edit {
	height: 2em;
    float: right;
    position: relative;
    bottom: 60px;
    border: 2px solid grey;
    padding: 3px;
}

.delete {
	height: 2em;
    float: right;
    position: relative;
    bottom: 60px;
    border: 2px solid grey;
    padding: 3px;
    right:10px;
}

.date {
	font-style: italic;
	float:right;
	margin-top:-1em;
}

.form {
	padding-top: 1em;
	padding-bottom: 1em;
}

.textbox_wrapper {
	display:inline-block;
	margin-bottom:1em;
	width:95%;
}

.textbox {
	margin-left:1em;
	margin-right:1em;
	width:100%;
}

#new_domain{
	margin-top:2em;
	border: 4px solid #006600;
}

#master_password {
	margin-top:2em;
	border: 4px solid #006600;
}

#references {
	background-color: #b3b3cc;
	padding: 20px;
}

#references_wrapper {
	display:inline-block;
}

#references_wrapper p {
	margin: 2px;
}

#icon_wrapper{
	display:inline-block;
	margin-right:12em;
	float:right;
}

#medium_blurb {
	background-color: white;
	border: 3px solid grey;
	font-size:17px;
	margin-top:2em;
}

@media (max-width:993px) {
	#icon_wrapper{
		float:none;
		text-align: center;
		display: block;
		margin-right: 0;
	}

}

@media(min-width:1000px) {
	.domain{
		width:28%;
		display:inline-block;
	}

	#new_domain, #master_password, #medium_blurb {
		width:96%;
	}
}

@media(max-width:1000px) {
	.domain {
		margin:0.5em;
	}

	.form {
		margin-left:0;
	}

	.textbox_wrapper{
		display:inline;
	}

	.textbox {
		width:91%;
	}
}

@media (max-width:600px) {
	#blurb{
		display:none;
	}

	#header {
		background-image: none;
		background-color:white;
	}

	#header h1 {
		padding-left:0px;
		text-align:center;
		font-size:52px;
	}

	#filter {
		padding:1em;
	}

	.domain {
		width:100%;
	}
}
